@import 'src/assets/styles/variable';

.wrapper {
  margin: 0 0 0 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: block;
  position: relative;
  width: 100px;
  height: auto;
  z-index: 1;
  background-color: $accent;

  position: absolute;
  padding: 25px;
}
